<div class="row">
  <div class="col-md-4 col-sm-6 col-12">
    <mat-card class="single-stats-box tagus-card mb-25">
      <div class="d-flex justify-content-space-between align-items-center">
        <div class="title">
          <h3>PKR {{ totalSales }}</h3>
          <span class="d-block gray-color">Total Sales</span>
        </div>
        <div class="icon">
          <i class="flaticon-donut-chart"></i>
        </div>
      </div>
      <p class="position-relative up"><i class="flaticon-trend"></i> <span>1.3%</span> Up from past week</p>
    </mat-card>
  </div>

  <div class="col-md-4 col-sm-6 col-12">
    <mat-card class="single-stats-box tagus-card mb-25">
      <div class="d-flex justify-content-space-between align-items-center">
        <div class="title">
          <h3>{{ totalOrders }}</h3>
          <span class="d-block gray-color">Total Completed Orders</span>
        </div>
        <div class="icon">
          <i class="flaticon-goal"></i>
        </div>
      </div>
      <p class="position-relative up"><i class="flaticon-trend"></i> <span>0.5%</span> Up from past week</p>
    </mat-card>
  </div>

  <div class="col-md-4 col-sm-6 col-12">
    <mat-card class="single-stats-box tagus-card mb-25">
      <div class="d-flex justify-content-space-between align-items-center">
        <div class="title">
          <h3>{{ pendingOrders }}</h3>
          <span class="d-block gray-color">Total Pending Orders</span>
        </div>
        <div class="icon">
          <i class="flaticon-goal"></i>
        </div>
      </div>
      <p class="position-relative up"><i class="flaticon-trend"></i> <span>0.5%</span> Up from past week</p>
    </mat-card>
  </div>
</div>
